<style>
    body{
    margin-top:20px;
  }
  
  .ui-w-80 {
    width: 80px !important;
    height: auto;
  }
  
  .btn-default {
    border-color: rgba(24,28,33,0.1);
    background: rgba(0,0,0,0);
    color: #4E5155;
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .btn-outline-primary {
    border-color: #26B4FF;
    background: transparent;
    color: #26B4FF;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .text-light {
    color: #babbbc !important;
  }
  
  .btn-facebook {
    border-color: rgba(0,0,0,0);
    background: #3B5998;
    color: #fff;
  }
  
  .btn-instagram {
    border-color: rgba(0,0,0,0);
    background: #000;
    color: #fff;
  }
  
  .card {
    background-clip: padding-box;
    box-shadow: 0 1px 4px rgba(24,28,33,0.012);
    padding: 30px;
    margin: 20px;
  }
  
  .row-bordered {
    overflow: hidden;
  }
  
  .account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
  }
  html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
  }
  .account-settings-multiselect ~ .select2-container {
    width: 100% !important;
  }
  .light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  .light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  .material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  .dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }
  .light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
  }
  .light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
  }
  
  @media (max-width: 767px) {
  .mobilecarouselphoto {
    width: 200px;
  }
  }
  .hatali {
            border: 1px solid red;
        }
  
  </style>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container pt-3 pb-3 ">
  <div class="container light-style flex-grow-1 container-p-y">
  
    <h4 class="font-weight-bold py-3 mb-4 mt-2">
      Bireysel Hesap Ayarları
    </h4>
   
    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">Hesap Bilgileri</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Şifreyi Değiştir</a>
          </div>
        </div>
        
        <div class="col-md-9">
          <div class="tab-content">
            <% Product.forEach(Product => { %>
            <form   class="tab-pane fade active show" id="account-general">
              <div class="alert alert-success" role="alert" id="fotoSecildiDiv" style="display: none;"></div>
              
              <hr class="border-light m-0">
  
              <div class="card-body">
                <div class="form-group">
                  <label class="form-label">İsim Soyisim</label>
                  <input type="text" class="form-control mb-1" value="<%-Product.isim+' '+Product.soyisim %>" disabled>
                </div>
                
                <div class="form-group">
                  <label class="form-label">E-mail</label>
                  <input type="text" class="form-control mb-1" value="<%-Product.email %>" disabled>
                  
                </div>
                <div class="form-group">
                  <label class="form-label">Kayıt Id</label>
                  <input type="text" class="form-control mb-1" value="<%-Product.kayit_id %>" disabled>
                  
                </div>
                
 
              </div>
            </form>
            <% }) %>
            <% Product.forEach(Product => { %>  
            <form action="/changePassword" method="post" enctype="application/x-www-form-urlencoded" class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">
  
                <div class="form-group">
                  <label class="form-label">Güncel Şifre</label>
                  <input  class="form-control" id="guncelsifre" name="guncelsifre" type="password" placeholder="••••••">
                </div>
  
                <div class="form-group">
                  <label class="form-label">Yeni Şifre</label>
                  <input class="form-control" name="yenisifre" type="password" placeholder="••••••">
                </div>
  
                <div class="form-group">
                  <label class="form-label">Şifreyi Onayla</label>
                  <input class="form-control" name="yenisifreonay" type="password" placeholder="••••••">
                </div>
  
              </div>
              <div class="text-right mt-3">
                <button id="sifrekayitbuttonu" type="submit" class="btn btn-secondary">Değişikleri Kaydet</button>&nbsp;
              </div>
            </form>
            <% }) %>
            
          
            
            
          </div>
        </div>
      </div>
    
    </div>
  
   
  
  </div>
  
  
  
  
  
  </div>
  
  <script>
  imag.onchange = evt => {
  const [file] = imag.files
  if (file) {
    blah.src = URL.createObjectURL(file)
  }
  }
  
  </script>
  
  
  <script>
  $(document).ready(function() {
            $("input[name='yenisifreonay']").keyup(function() {
                var sifre1 = $("input[name='yenisifre']").val();
                var sifre2 = $(this).val();
                
                if (sifre1 === sifre2) {
                    // Şifreler aynı
                    $(this).removeClass("hatali");
                    $("#sifrekayitbuttonu").prop("disabled", false);
                } else {
                    // Şifreler farklı
                    $(this).addClass("hatali");
                    $("#sifrekayitbuttonu").prop("disabled", true);
                }
            });
        });
  </script>
  
  <script>
  document.querySelector('.account-settings-fileinput').addEventListener('change', function(e) {
    var file = e.target.files[0];
    var reader = new FileReader();
    
    reader.onload = function(event) {
      document.getElementById('gorselSecildiImg').src = event.target.result;
      document.getElementById('gorselSecildiImg').style.display = 'block';
      document.getElementById('fotoSecildiDiv').textContent = 'Fotoğrafı güncellemek için Değişikleri Kaydedin.';
      document.getElementById('fotoSecildiDiv').style.display = 'block';
    }
    
    reader.readAsDataURL(file);
  });
  
  $('.account-settings-fileinput').on('change', function(e) {
    var files = e.target.files;
    
    for (var i = 0; i < files.length; i++) {
      var file = files[i];
      var reader = new FileReader();
      
      reader.onload = (function(file) {
        return function(event) {
          var imgElement = $('<img>').attr('src', event.target.result).addClass('gorselSecildiImgz').css('display', 'block');
          imgElement.css('padding',"10px");
          imgElement.css('margin-top',"10px");
          imgElement.css('width',"100px");
          $('#gorselSecildiDivz').append(imgElement);
        };
      })(file);
      
      reader.readAsDataURL(file);
    }
    
    $('#fotoSecildiDivz').text('Fotoğrafları güncellemek için Değişikleri Kaydedin.').css('display', 'block');
  });
  </script>
  
  <script>
  $(document).ready(function() {
    var emailPermission = "<%= Product[0].Email_Permission %>";
    
    if (emailPermission == "true") {
        $("input[name='isChecked']").prop('checked', true);
    } else {
        $("input[name='isChecked']").prop('checked', false);
    }
  });
  
  $("input[name='isChecked']").change(function() {
    var isChecked = $(this).is(":checked");
  
    if (isChecked) {
        var value = $(this).val('True');
        console.log("Checkbox işaretlendi.");
    } else {
        var value = $(this).val('False');
        console.log("Checkbox işareti kaldırıldı.");
    }
  });
  
  </script>
  </script>