<style>
    body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
            background-color: #EFF3F9;
            color: #333;
        }
    .sozlesme-metni{
        padding: 10px;
        margin: 10px;
    }
    
    h1, h2 {
            color: #014185;
            font-weight: bold;
        }
        h1{
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            margin-bottom: 15px;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 20px;
        }

        .sidebar ul li {
            padding: 20px;
            cursor: pointer;
            color: #666666;
            font-weight: 600;
            background: #ffffff;
            border-bottom: 1px solid whitesmoke;
        }
        .sidebar ul li:hover {
            background-color: rgb(222, 222, 222);
        }
        
        th,td{
            padding: 15px;
        }
</style>
<div class="container" style="margin-top:50px; margin-bottom: 50px; padding: 50px;;">
    <div class="row" style="background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <!-- %20'lik kısım -->
        <div class="col-md-3" style="background-color: white;">
            <div class="sidebar">
                <ul>
                  
                    <a href="/hakkimizda"><li><i class="fa fa-building mr-2"></i>Hakkımızda</li> </a>
                    <a href="/kurumsal-uyelik-sozlesmesi"><li ><i class="fa fa-store mr-2"></i>Kurumsal Hesap Sözleşmesi</li></a>
                    <a href="/bireysel-uyelik-sozlesmesi"><li style="background-color: #fed40076;" ><i  class="fa fa-user mr-2"></i>Bireysel Hesap Sözleşmesi</li></a>
                    <a href="/mesafeli-satis-sozlesmesi"><li ><i class="fa fa-store mr-2"></i>Mesafeli Satış Sözleşmesi</li></a>
                </ul>
            </div>
               
        </div>

        <!-- %80'lik kısım -->
        <div class="col-md-9">
            <div class="sozlesme-metni">
                <h1 style="text-align: center; padding-bottom: 20px;">Bireysel Hesap Sözleşmesi</h1>
            
                <h2>1. Taraflar</h2>
                <p><strong>a)</strong> www.yapx.com.tr internet sitesi faaliyetlerini yürüten Kurtuluş Mah. Koşuyolu Cad. Birlik Apt. No:73 İç Kapı No:3 Salihli/Manisa adresinde mukim YAPX Yapı Sanayi Ticaret Limited Şirketi (Bundan böyle YAPX olarak anılacaktır).</p>
                <p><strong>b)</strong> www.yapx.com.tr internet sitesine üye olan internet kullanıcısı (“Üye”) olarak anılacaktır.</p>
            
                <h2>2. Sözleşmenin Konusu</h2>
                <p>İşbu Sözleşme’nin konusu YAPX’in sahip olduğu internet sitesi www.yapx.com.tr’den üyenin faydalanma şartlarının belirlenmesidir.</p>
                
                <h2>3. Tarafların Hak ve Yükümlülükleri</h2>
                <p>
                    <p>
                        <strong>3.1.</strong> Üye, www.yapx.com.tr internet sitesine üye olurken verdiği kişisel ve diğer sair bilgilerin kanunlar önünde doğru olduğunu, YAPX’in bu bilgilerin gerçeğe aykırılığı nedeniyle uğrayacağı tüm zararları aynen ve derhal tazmin edeceğini beyan ve taahhüt eder.
                    </p>
                    <p>
                        <strong>3.2.</strong> Üye, YAPX tarafından kendisine verilmiş olan şifreyi başka kişi ya da kuruluşlara veremez, üyenin söz konusu şifreyi kullanma hakkı bizzat kendisine aittir. Bu sebeple doğabilecek tüm sorumluluk ile üçüncü kişiler veya yetkili merciler tarafından YAPX’e karşı ileri sürülebilecek tüm iddia ve taleplere karşı, YAPX’in söz konusu izinsiz kullanımdan kaynaklanan her türlü tazminat ve sair talep hakkı saklıdır.

                    </p>
                    <p>
                        <strong>3.3.</strong> Üye www.yapx.com.tr internet sitesini kullanırken yasal mevzuat hükümlerine riayet etmeyi ve bunları ihlal etmemeyi baştan kabul ve taahhüt eder. Aksi takdirde, doğacak tüm hukuki ve cezai yükümlülükler tamamen ve münhasıran üyeyi bağlayacaktır.

                    </p>
                    <p>
                        <strong>3.4.</strong> Üye, www.yapx.com.tr internet sitesini hiçbir şekilde kamu düzenini bozucu, genel ahlaka aykırı, başkalarını rahatsız ve taciz edici şekilde, yasalara aykırı bir amaç için, başkalarının fikri ve telif haklarına tecavüz edecek şekilde kullanamaz. Ayrıca, üye başkalarının hizmetleri kullanmasını önleyici veya zorlaştırıcı faaliyet (spam, virus, truva atı, vb.) ve işlemlerde bulunamaz.

                    </p>
                    <p>
                        <strong>3.5.</strong> www.yapx.com.tr internet sitesinde üyeler tarafından beyan edilen, yazılan, kullanılan fikir ve düşünceler, tamamen üyelerin kendi kişisel görüşleridir ve görüş sahibini bağlar. Bu görüş ve düşüncelerin YAPX  ile hiçbir ilgi ve bağlantısı yoktur. YAPX’in üyenin beyan edeceği fikir ve görüşler nedeniyle üçüncü kişilerin uğrayabileceği zararlardan ve üçüncü kişilerin beyan edeceği fikir ve görüşler nedeniyle üyenin uğrayabileceği zararlardan dolayı herhangi bir sorumluluğu bulunmamaktadır.

                    </p>
                    <p>
                        <strong>3.6.</strong> YAPX, üye verilerinin yetkisiz kişilerce okunmasından ve üye yazılım ve verilerine gelebilecek zararlardan dolayı sorumlu olmayacaktır. Üye, www.yapx.com.tr internet sitesinin kullanılmasından dolayı uğrayabileceği herhangi bir zarar yüzünden YAPX’den tazminat talep etmemeyi peşinen kabul etmiştir.

                    </p>
                    <p>
                        <strong>3.7.</strong> Üye, diğer internet kullanıcılarının yazılımlarına ve verilerine izinsiz olarak ulaşmamayı veya bunları kullanmamayı kabul etmiştir. Aksi takdirde, bundan doğacak hukuki ve cezai sorumluluklar tamamen üyeye aittir.

                    </p>
                    <p>
                        <strong>3.8.</strong> İşbu üyelik sözleşmesi içerisinde sayılan maddelerden bir ya da birkaçını ihlal eden üye işbu ihlal nedeniyle cezai ve hukuki olarak şahsen sorumlu olup, YAPX’i bu ihlallerin hukuki ve cezai sonuçlarından ari tutacaktır. Ayrıca; işbu ihlal nedeniyle, olayın hukuk alanına intikal ettirilmesi halinde, YAPX’in üyeye karşı üyelik sözleşmesine uyulmamasından dolayı tazminat talebinde bulunma hakkı saklıdır.

                    </p>
                    <p>
                        <strong>3.9.</strong> YAPX’in her zaman tek taraflı olarak gerektiğinde üyenin üyeliğini silme, müşteriye ait dosya, belge ve bilgileri silme hakkı vardır. Üye işbu tasarrufu önceden kabul eder. Bu durumda, YAPX’in hiçbir sorumluluğu yoktur.

                    </p>
                    <p>              
                        <strong>3.10.</strong> www.yapx.com.tr internet sitesi yazılım ve tasarımı YAPX’in mülkiyetinde olup, bunlara ilişkin telif hakkı ve/veya diğer fikri mülkiyet hakları ilgili kanunlarca korunmakta olup, bunlar üye tarafından izinsiz kullanılamaz, iktisap edilemez ve değiştirilemez. Bu web sitesinde adı geçen başkaca şirketler ve ürünleri sahiplerinin ticari markalarıdır ve ayrıca fikri mülkiyet hakları kapsamında korunmaktadır.
                    </p>
                    <p>
                        <strong>3.11.</strong>YAPX tarafından www.yapx.com.tr internet sitesinin iyileştirilmesi, geliştirilmesine yönelik olarak ve/veya yasal mevzuat çerçevesinde siteye erişmek için kullanılan İnternet servis sağlayıcısının adı ve Internet Protokol (IP) adresi, Siteye erişilen tarih ve saat, sitede bulunulan sırada erişilen sayfalar ve siteye doğrudan bağlanılmasını sağlayan Web sitesinin Internet adresi gibi birtakım bilgiler toplanabilir.
                    </p>
                    <p>
                        <strong>3.12.</strong> YAPX, üyenin kişisel bilgilerini yasal bir zorunluluk olarak istendiğinde veya (a) yasal gereklere uygun hareket etmek veya YAPX’e tebliğ edilen yasal işlemlere uymak; (b) YAPX ve www.yapx.com.tr web sitesi ailesinin haklarını ve mülkiyetini korumak ve savunmak için gerekli olduğuna iyi niyetle kanaat getirdiği hallerde açıklayabilir.

                    </p>
                    <p>
                        <strong>3.13.</strong> www.yapx.com.tr web sitesinin virus ve benzeri amaçlı yazılımlardan arındırılmış olması için mevcut imkanlar dahilinde tedbir alınmıştır. Bunun yanında nihai güvenliğin sağlanması için kullanıcının, kendi virus koruma sistemini tedarik etmesi ve gerekli korunmayı sağlaması gerekmektedir. Bu bağlamda üye www.yapx.com.tr web sitesi’ne girmesiyle, kendi yazılım ve işletim sistemlerinde oluşabilecek tüm hata ve bunların doğrudan yada dolaylı sonuçlarından kendisinin sorumlu olduğunu kabul etmiş sayılır.

                    </p>
                    <p>
                        <strong>3.14.</strong> YAPX, sitenin içeriğini dilediği zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme yada sona erdirme veya www.yapx.com.tr web sitesi’nde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar.

                    </p>
                    <p>
                        <strong>3.15.</strong> YAPX, üyelik sözleşmesinin koşullarını hiçbir şekil ve surette ön ihbara ve/veya ihtara gerek kalmaksızın her zaman değiştirebilir, güncelleyebilir veya iptal edebilir. Değiştirilen, güncellenen yada yürürlükten kaldırılan her hüküm , yayın tarihinde tüm üyeler bakımından hüküm ifade edecektir.

                    </p>
                    <p>
                        <strong>3.16.</strong> Taraflar, YAPX’e ait tüm bilgisayar kayıtlarının tek ve gerçek münhasır delil olarak, HMK madde 193′e uygun şekilde esas alınacağını ve söz konusu kayıtların bir delil sözleşmesi teşkil ettiği hususunu kabul ve beyan eder.

                    </p>
                    <p>
                        <strong>3.17.</strong> YAPX, iş bu üyelik sözleşmesi uyarınca, üyelerinin kendisinde kayıtlı elektronik posta adreslerine bilgilendirme mailleri ve cep telefonlarına bilgilendirme SMS’leri gönderme yetkisine sahip olmakla beraber, üye işbu üyelik sözleşmesini onaylamasıyla beraber bilgilendirme maillerinin elektronik posta adresine ve bilgilendirme SMS’lerinin cep telefonuna gönderilmesini kabul etmiş sayılacaktır.

                    </p>
                </p>
                <h2>4. Sözleşmenin Feshi</h2>
                <p>İşbu sözleşme üyenin üyeliğini iptal etmesi veya YAPX tarafından üyeliğinin iptal edilmesine kadar yürürlükte kalacaktır. YAPX üyenin üyelik sözleşmesinin herhangi bir hükmünü ihlal etmesi durumunda üyenin üyeliğini iptal ederek sözleşmeyi tek taraflı olarak feshedebilecektir.</p>
                <h2>5. İhtilaflerin Halli</h2>
                <p>İşbu sözleşmeye ilişkin ihtilaflarda Manisa Mahkemeleri ve İcra Daireleri yetkilidir</p>
                <h2>6. Yürürlük</h2>
                <p>Üyenin, üyelik kaydı yapması üyenin üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme üyenin üye olması anında akdedilmiş ve karşılıklı olarak yürürlüğe girmiştir.</p>
                
                <p style="text-align: right;"><strong>YAPX YAPI SANAYİ TİCARET LİMİTED ŞİRKETİ</strong></p>
            </div>
            
        </div>
    </div>
</div>