<style>
    body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
            background-color: #EFF3F9;
            color: #333;
        }
    .sozlesme-metni{
        padding: 10px;
        margin: 10px;
    }
    
    h1, h2 {
            color: #014185;
            font-weight: bold;
        }
        h1{
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            margin-bottom: 15px;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 20px;
        }

        .sidebar ul li {
            padding: 20px;
            cursor: pointer;
            color: #666666;
            font-weight: 600;
            background: #ffffff;
            border-bottom: 1px solid whitesmoke;
        }
        .sidebar ul li:hover {
            background-color: rgb(222, 222, 222);
        }
</style>
<div class="container" style="margin-top:50px; margin-bottom: 50px; padding: 50px;;">
    <div class="row" style="background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <!-- %20'lik kısım -->
        <div class="col-md-3" style="background-color: white;">
            <div class="sidebar">
                <ul>
                  
                    <a href="/hakkimizda"><li style="background-color: #fed40076;"><i class="fa fa-building mr-2"></i>Hakkımızda</li> </a>
                    <a href="/kurumsal-uyelik-sozlesmesi"><li  ><i class="fa fa-store mr-2"></i>Kurumsal Hesap Sözleşmesi</li></a>
                    <a href="/bireysel-uyelik-sozlesmesi"><li ><i  class="fa fa-user mr-2"></i>Bireysel Hesap Sözleşmesi</li></a>
                    <a href="/mesafeli-satis-sozlesmesi"><li ><i class="fa fa-store mr-2"></i>Mesafeli Satış Sözleşmesi</li></a>
                </ul>
            </div>
               
        </div>

        <!-- %80'lik kısım -->
        <div class="col-md-9">
            <div class="sozlesme-metni">
                <h1 style="text-align: center; padding-bottom: 20px;">Hakkımızda</h1>
            
                <p>
                    www.yapx.com.tr sitemiz, tüm yapı ve yapı malzemeleri alanında en kaliteli ürünleri tüketiciye en uygun fiyatlarla sunma amacıyla Haziran 2022 tarihinde YAPX YAPI SAN.TİC.LTD.ŞTİ. kurulmuştur.2010 yılından bu yana yapı ve yapı malzemeleri sektöründe MANİSA SALİHLİ’DE  bulunan firmamız her zaman müşterilerinin memnuniyetini öncelikleri arasında ilk sıraya koymuştur. Bu yaklaşımımızı E-ticaret sitemizden yapılan alışverişler için de aynı titizlikle göstermeye devam etmekteyiz. Müşterilerimizin verdikleri siparişlerin en kısa sürede kendilerine ulaşması için sürekli olarak stoklu çalışmaktayız.
                </p>
                <p>
                    WWW.YAPX.COM.TR sitemiz üzerinden yaptığınız alışverişlerin en sorunsuz şekilde gerçekleşmesi ve gerekli durumlarda iptal, iade ve değişim taleplerinin hızla işleme alınabilmesi için müşteri hizmetlerimiz her zaman sizi dinlemeye ve çözüm üretmeye hazırdır. İyi alışverişler dileriz!
                </p>
            </div>
            
        </div>
    </div>
</div>