<style>
    body {
            font-family: 'Roboto', sans-serif;
            line-height: 1.6;
            background-color: #EFF3F9;
            color: #333;
        }
    .sozlesme-metni{
        padding: 10px;
        margin: 10px;
    }
    
    h1, h2 {
            color: #014185;
            font-weight: bold;
        }
        h1{
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        p {
            margin-bottom: 15px;
        }
        .sidebar ul {
            list-style-type: none;
            padding: 20px;
        }

        .sidebar ul li {
            padding: 20px;
            cursor: pointer;
            color: #666666;
            font-weight: 600;
            background: #ffffff;
            border-bottom: 1px solid whitesmoke;
        }
        .sidebar ul li:hover {
            background-color: rgb(222, 222, 222);
        }
        
        th,td{
            padding: 15px;
        }
        
</style>
<div class="container" style="margin-top:50px; margin-bottom: 50px; padding: 50px;;">
    <div class="row" style="background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <!-- %20'lik kısım -->
        <div class="col-md-3" style="background-color: white;">
            <div class="sidebar">
                <ul>
                  
                    <a href="/hakkimizda"><li><i class="fa fa-building mr-2"></i>Hakkımızda</li> </a>
                    <a href="/kurumsal-uyelik-sozlesmesi"><li  style="background-color: #fed40076;"><i class="fa fa-store mr-2"></i>Kurumsal Hesap Sözleşmesi</li></a>
                    <a href="/bireysel-uyelik-sozlesmesi"><li ><i  class="fa fa-user mr-2"></i>Bireysel Hesap Sözleşmesi</li></a>
                    <a href="/mesafeli-satis-sozlesmesi"><li ><i class="fa fa-store mr-2"></i>Mesafeli Satış Sözleşmesi</li></a>
                </ul>
            </div>
               
        </div>

        <!-- %80'lik kısım -->
        <div class="col-md-9">
            <div class="sozlesme-metni">
                <h1 style="text-align: center; padding-bottom: 20px;">Ticari Hesap Sözleşmesi</h1>
            
                <h2>1. Taraflar</h2>
                <p><strong>a)</strong> www.yapx.com.tr internet sitesi faaliyetlerini yürüten Kurtuluş Mah. Koşuyolu Cad. Birlik Apt. No:73 İç Kapı No:3 Salihli/Manisa adresinde mukim YAPX Yapı Sanayi Ticaret Limited Şirketi (Bundan böyle YAPX olarak anılacaktır).</p>
                <p><strong>b)</strong> www.yapx.com.tr internet sitesine üye olan internet kullanıcısı ("Satıcı") olarak anılacaktır.</p>
            
                <h2>2. Sözleşmenin Konusu</h2>
                <p>İşbu Sözleşme’nin konusunu, www.yapx.com.tr internet sitesinde  YAPX tarafından sunulan hizmetlerden, Satıcının yararlanmasına ilişkin şart ve koşulların belirlenmesi ve bu doğrultuda tarafların hak ve yükümlülüklerinin tespiti oluşturmaktadır. Satıcı ile Alıcılar arasındaki ilişki işbu Sözleşme’nin kapsamına girmemektedir; YAPX işbu ticari faaliyette sadece, www.yapx.com.tr internet sitesinde  Satıcılara ürün/hizmet ilan hakkı vermekte olup hiçbir surette Satıcı ile Alıcılar arasındaki sözleşme ilişkisine taraf değildir. Satıcı, gerçekleştireceği satış işlemlerinden, Alıcılara karşı mevcut mevzuat hükümleri çerçevesinde bizzat sorumlu olacaktır. </p>
                
                <h2>3. Tarafların Hak ve Yükümlülükleri</h2>
                <p>
                    <p>
                        <strong>3.1.</strong>Satıcı, "satıcı" sıfatını kazanabilmek için, YAPX’in talep edeceği belgeleri işbu Sözleşme akdedildiği sırada tam ve eksiksiz olarak temin edecektir. Satıcı tarafından işbu belgeler eksiksiz olarak sunulmakla birlikte, YAPX’in Satıcının başvurusunu sebep göstermeksizin reddetme ve/veya ek belge talep etme hakkı her zaman vardır. Satıcı, www.yapx.com.tr internet sitesine kayıt olurken Sözleşme ve ilgili mevzuat hükümleri uyarınca sunmakla yükümlüğü olduğu ve/veya YAPX tarafından talep edilen tüm bilgileri/ belgeleri doğru ve eksiksiz şekilde sağlayacağını, YAPX'in kendisinden herhangi bir zamanda bilgi/belge talebinde bulunabileceğini ve talep halinde bu bilgileri/ belgeleri de doğru ve eksiksiz şekilde sağlayacağını, gerek www.yapx.com.tr internet sitesine kayıt sırasında gerekse de sonrasında sağladığı bilgilerde/ belgelerde herhangi bir değişiklik meydana gelmesi halinde bu bilgileri/ belgeleri derhal, YAPX tarafından kendisine bildirilen süre içerisinde ve fakat en geç yasal süre içerisinde  YAPX tarafından herhangi bir şekilde bildirilen/ duyurulan şekilde güncelleyeceğini, aksi halde bu kapsamda doğacak tüm sorumluluğun münhasıran kendisine ait olduğunu ve bahse konu bilgilerin/ belgelerin zamanında doğru şekilde sağlanmaması, eksikliği veya güncel olmaması nedeniyle YAPX’in herhangi bir zarara uğraması halinde bu zararları ilk talep üzerinde derhal, nakden ve defaten tazmin etmeyi kabul, beyan ve taahhüt eder. 
                    </p>
                    <p>
                        <strong>3.2.</strong>. Satıcı, her bir mal için ayrı ayrı ve satış bedeli içerisinde olmak kaydıyla Türkçe kullanım kılavuzu, garanti belgesi ve teknik servis listesi ile satın alma belgesi üzerinde yazan ve/veya mal ile birlikte teslim edilmesi gereken her türlü aksesuar, belge, broşür, bandrol ve diğer evrak ile mevzuatın gerektirdiği sair bilgi ve belgeleri, malın ambalajı içerisinde teslim etmek yükümlülüğündedir. YAPX’in Mesafeli Satış Sözleşmesi’nin tarafı olmaması sebebiyle bu bilgi ve belgelerin kargo kutusunun içerisinde olup olmadığını kontrol etme yükümlülüğü bulunmamalıdır. Satıcı bahse konu bilgi ve belgelerin eksikliği nedeniyle YAPX’in herhangi bir zarara uğraması halinde bu zararları tazmin etmeyi kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.3.</strong>Satıcı, www.yapx.com.tr internet sitesinde satışa sunduğu tüm ürün ve/veya hizmetleri tam ve/veya gereği gibi (markası, cinsi, rengi, bedeni ve adedi belli olan), eksiksiz ve her türlü açık, örtülü gizli ayıptan ari olarak Alıcıya teslim etmeyi kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.4.</strong>Satıcı, her türlü reklam ve ilanın www.yapx.com.tr internet sitesinde yayınlanmasını sağlayacak gerekli teknik altyapının oluşturulması için YAPX ile tam iş birliği içinde olmayı ve bunun için gerekli her türlü belgeyi temin etmeyi kabul, beyan ve taahhüt eder. YAPX münhasıran kendi takdirinde olmak üzere Satıcının www.yapx.com.tr internet sitesindeki herhangi bir ürününü sebep göstermeksizin satışa kapatma hak ve yetkisine sahiptir. 

                    </p>
                    <p>
                        <strong>3.5.</strong> Satıcılar www.yapx.com.tr internet sitesinde satışa çıkardıkları ürün özelliklerini tam, doğru bir şekilde yazmaları ve satışa uygun şekilde fotoğraflamaları gerekmektedir. Görsellerin Satıcı tarafından YAPX’e verilmesi halinde Satıcı ürün görsellerinin 5846 sayılı Fikir ve Sanat Eserleri Kanunu uyarınca eser niteliğini haiz olması halinde FSEK’in 21. maddesindeki işleme, 22. maddesindeki çoğaltma, 23. maddesindeki yayma, 24. maddesindeki temsil, 25. maddesindeki işaret, ses ve/veya görüntü nakline yarayan araçlarla umuma iletim hakkı Sözleşme süresiyle sınırlı olarak herhangi bir mecra ve ülke sınırlaması olmaksızın YAPX’e üçüncü kişilere de kullandırabilecek şekilde basit ruhsat verdiğini/vereceğini kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.6.</strong>Satıcı, www.yapx.com.tr internet sitesinde yayınladığı ilanlara yönelik her türlü görsel, yazılı ve sair sağlanan fiyat/ilan/bilgi/içeriklerin gerçekliğinden, güvenliğinden, doğruluğundan ve hukuka uygunluğundan bizzat sorumlu olmayı; bu bilgi ve belgeleri üçüncü kişilerle doğru ve güncel şekilde paylaşmayı aksi halde YAPX’in bu hususlarda herhangi bir sorumluluğu olmadığını kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.7.</strong>Satıcı, www.yapx.com.tr internet sitesinde ve ilanlarda sergilediği mal ve hizmetlerin satışının ve teşhirinin yürürlükteki mevzuat doğrultusunda herhangi bir hukuka aykırılık yaratmayacağını, hak ihlaline sebep olmayacağını, söz konusu ilan ve içeriklerin ilgili olduğu mal ve hizmetlerin internet üzerinde yayınlanması, satışa arz edilmesi ve satılması için tüm hak, yetki ve sorumluluğun kendisinde olduğunu kabul, beyan ve taahhüt etmektedir. 
                    </p>
                    <p>
                        <strong>3.8.</strong>Satıcı, üye olduğu esnada bir kullanıcı adı ve şifre oluşturacak; profil sayfasına erişmek ve diğer bazı işlemleri gerçekleştirebilmek için bu bilgileri kullanacaktır. Satıcının şifre ve kullanıcı adının güvenliği ve gizliliği tamamen Satıcının sorumluluğundadır. Satıcı kendi profili üzerinden giriş yapılarak gerçekleştirilen işlemlerin yetkisiz işlem olduğundan kaynaklı olarak geçersizliğini ileri sürme hakkından peşinen feragat etmiştir. Bu tür işlemlerde dahi, her türlü sorumluluk Satıcının kendisine ait olacaktır. Satıcının şifresi kullanılarak YAPX aleyhine veya zararına işlem yapılması halinde; Satıcı, YAPX’in bu fiillerden doğan zararlarını karşılamakla mükelleftir. 

                    </p>
                    <p>
                        <strong>3.9.</strong>YAPX, Satıcı tarafından Üyelik işlemi esnasında ve Üyelik boyunca temin edilen şahsi ve ticari bilgileri güvenli bir ortamda saklayacaktır. YAPX, bu bilgileri Hizmetler’in tam ve gereği gibi işletilmesi için gereken uygulamaların yürütülmesi, istatistiki değerlendirmelerin yapılması amacıyla YAPX’in ve iş ortaklarının faaliyetlerinin, uygulamalarının reklamı, pazarlanması, ilanı ve sair amaçlarla, kullanabilir ve yalnızca yukarıda belirtilen sebeplerle anonim olarak üçüncü kişilere açıklanabilir. Satıcı, kendine ait bilgilerin YAPX tarafından işbu madde hükmüne göre kullanımına ve saklanmasına rıza gösterdiğini kabul ve beyan eder. 

                    </p>
                    <p>              
                        <strong>3.10.</strong>Satıcı, www.yapx.com.tr internet sitesinde yürüttüğü tüm faaliyetlerini internet sitesine teknik olarak hiçbir surette zarar vermeyecek şekilde yürütmekle yükümlüdür. Satıcı, www.yapx.com.tr internet sitesine sağlayacağı tüm bilgi, içerik, materyal ve sair içeriğin sisteme zarar verecek her türlü program, virüs, yazılım, lisansız ürün, vb. gibi içermemesi için gerekli her türlü tedbiri (gerekli koruyucu yazılımlarını ve lisanslı ürünleri kullanmak da dâhil olmak üzere) aldığını, bu madde hükmünün uygulanması amacıyla YAPX tarafından talep edilen önlemleri derhal almayı kabul, beyan ve taahhüt eder. 
                    </p>
                    <p>
                        <strong>3.11.</strong>YAPX www.yapx.com.tr internet sitesinin tam ve gereği gibi çalışabilmesi için internet sitesinde her türlü değişiklik yapma hakkına sahiptir. İşbu amaçla YAPX, sunulan hizmetleri ve içerikleri her zaman ve hiçbir bildirimde bulunmadan değiştirme hakkına sahiptir.
                    </p>
                    <p>
                        <strong>3.12.</strong>Satıcı, www.yapx.com.tr internet sitesinde yayınladığı tüm ilanlarla ve içeriklerle bağlıdır ve bunlardan kaynaklanan tüm taahhütlerinden sorumlu olacaktır. YAPX, Satıcının faaliyetlerinin işbu Sözleşme koşullarına ve www.yapx.com.tr internet sitesinde beyan edilen kural ve şartlara uymaması, mevzuata aykırılık teşkil etmesi, hukuki, teknik ve özellikle bilgi güvenliği anlamında risk oluşturduğunun tespit edilmesi, üçüncü kişilerin şahsi ve ticari haklarına halel getirici mahiyette olması sebebiyle, Satıcıya herhangi bir ön ihtarda bulunmadan ilgili ilanların yayınını geçici veya sürekli olarak durdurabilir, üyeliği askıya alabilir veya üyeliğe son verebilir ve işbu Sözleşmeyi tazminatsız olarak tek taraflı olarak feshedebilir, Satıcının ürün/hizmet satışını sona erdirebilir. Satıcı böyle bir durumda YAPX’den herhangi bir ücret ve sair tazminat talep etmemeyi kabul, beyan ve taahhüt eder. İşbu madde hükmüne aykırılık halinde, YAPX’in herhangi bir ihtarda bulunmaksızın Sözleşmeyi istediği zaman tek taraflı fesih haklı saklıdır. 

                    </p>
                    <p>
                        <strong>3.13.</strong>Satıcı, işbu Sözleşme koşulları ve/veya www.yapx.com.tr internet sitesinde yayımlanan kural ve politikalar kapsamında ihlal niteliği taşıyan davranışa karşılık olarak belirlenen puanın Satıcının sistemine işleneceğini, bu puana ve/veya tüm puanlarına karşılık gelen ve Satıcıya duyurulan yaptırımların uygulanabileceğini kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.14.</strong>Satıcı, işbu Sözleşme koşullarını ve/veya www.yapx.com.tr internet sitesinde yayımlanan kural ve politikaları ihlal etmesi ve bu ihlalin sonucunda YAPX’in zarara uğraması ihtimali olması halinde YAPX’in gerçekleşen ihlalden itibaren makul süre boyunca işbu Sözleşme kapsamında Satıcının ödemelerini askıya alma hakkına sahip olduğunu kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.15.</strong>Satıcı, Alıcılarla www.yapx.com.tr internet sitesinden yapılacak satışlarda akdedilecek mesafeli satış sözleşmelerinde Satıcı taraf olduğunu, YAPX’in işbu mesafeli satış sözleşmesi ilişkisinde taraf olmadığını, Alıcılara karşı yürürlükteki Tüketici Hukuku mevzuatı ve sair mevzuat kapsamında her anlamda bizzat sorumlu olduğunu kabul ve beyan eder. Satıcı buna ek olarak, www.yapx.com.tr internet sitesinde sergilediği ve sattığı tüm ürünlerin kalitesinden, mevzuata uygunluğundan, garanti belgesi ve sair diğer gerekli belgenin tesliminden ve satış sonrası gereksinim duyulan servis vs. hizmetlerinden bizzat sorumlu olacaktır. Bu madde hükmüne aykırılık durumunda ortaya çıkabilecek zararlardan Satıcı doğrudan sorumlu olacaktır. Satıcı, www.yapx.com.tr internet sitesinden satışını yaptığı ürünlerin satış işlemi esnasında belirtildiği teslim süresinde Alıcıya ulaşmasını sağlayacak ve gecikmeden dolayı her türlü sorumluluk da kendisinde olacaktır. Satıcı, Alıcı istek ve taleplerine mümkün olan en kısa sürede dönüş yapmak zorundadır. 

                    </p>
                    <p>
                        <strong>3.16.</strong>YAPX tarafından Satıcının herhangi bir sebeple üyeliğinin askıya alınması veya üyelikten çıkarılarak bir daha www.yapx.com.tr internet sitesine  alınmamak üzere kara listeye alınması halinde Satıcı, başka bir kullanıcı hesabıyla www.yapx.com.tr internet sitesine üye olamaz. Satıcının bu madde hükmüne aykırı olarak www.yapx.com.tr internet sitesine üye olması ve durumun tespiti halinde Satıcı, üyelikten yeniden çıkartılacaktır. 

                    </p>
                    <p>
                        <strong>3.17.</strong>Satıcı 213 Sayılı Vergi Usul Kanunu m. 230 ve 3065 Sayılı Katma Değer Vergisi Kanunu m. 8. uyarınca satılan veya sağlanan ürün ve hizmetle ilgili fatura veya perakende satış fişi düzenlemek zorundadır. Satıcı ; Alıcıya gönderdiği mal ve/veya hizmeti fatura keserek teslim etmeyi, başta 6502 Sayılı Tüketicinin Korunması Hakkında Kanun olmak üzere sair mevzuattan kaynaklanan yükümlülüklerini eksiksiz yerine getirmeyi, ayrıca Satıcının işbu yükümlülüklerini gereği gibi yerine getirmemesiyle sebebiyle YAPX’in uğradığı zararlar ve masrafları (mahkeme masrafları, para cezaları, vergi, resim, harç dahil fakat bunlarla sınırlı olmamak üzere her türlü giderler) nakden ve defaten ödemeyi kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.18.</strong> www.yapx.com.tr internet sitesinden sunulacak olan Hizmetler’in ve YAPX tarafından uygulanan kampanyaların detayları, ürünlerin sergilenme süreleri ve teknik özellikler gibi ikincil değişiklikler YAPX tarafından her zaman değiştirilebilecektir. Satıcı Taraflarca mutabık kalınması halinde www.yapx.com.tr internet sitesinde Alıcılara sunulan indirim, kampanya ve hediye çeki gibi uygulamaların maliyetini karşılamayı kabul, beyan ve taahhüt eder. Satıcı, maliyetine YAPX’in katlanması şartıyla YAPX’in Satıcının onayına tabi olmaksızın her zaman kampanya düzenleyebileceğini kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.19.</strong>Satıcı ayrıca öncesinde YAPX’in yazılı izni olmaksızın Alıcılara herhangi bir reklam ve/veya pazarlama çalışması yapamayacak (ürünün Satıcılara ait kutularla gönderilmesi dışında), Alıcılara ürün ve/veya hizmetle birlikte herhangi bir promosyon malzemesi, numune ürün gibi bir gönderide bulunmayacaktır. Satıcı, gerek Sözleşme’nin yürürlük süresi boyunca gerekse de Sözleşmenin sona ermesinden sonra süresiz şekilde YAPX’i ve YAPX’e ait markaları kötüleyici veya bunları hedef gösteren, söz konusu markaların ve YAPX’in ticari itibarını zedeleyecek beyan, eylem ve söylemlerde bulunmayacağını, işbu Sözleşme tahtındaki haklarını kullanırken ve yükümlülüklerini ifa ederken iyi niyet ve dürüstlük ilkelerine uyacağını, haksız rekabet teşkil edecek fiillerde bulunmayacağını kabul, beyan ve taahhüt eder. Satıcı işbu maddenin ihlali halinde 15.000 TL (on beş bin Türk Lirası) tutarında cezai şart ödemeyi kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.20.</strong>Satıcı 5464 sayılı Banka Kartları ve Kredi Kartları Kanununa, 5651 sayılı İnternet Ortamında Yapılan Yayınların Düzenlenmesi ve Bu Yayınlar Yoluyla İşlenen Suçlarla Mücadele Edilmesi Hakkında Kanuna, 6493 sayılı Ödeme ve Menkul Kıymet Mutabakat Sistemleri, Ödeme Hizmetleri ve Elektronik Para Kuruluşları Hakkında Kanuna, 6502 sayılı Tüketicinin Korunması Hakkında Kanuna, 6563 sayılı Elektronik Ticaretin Düzenlenmesi Hakkında Kanuna, 6698 sayılı Kişisel Verilerin Korunması Kanunu ve bu kanunların ikincil düzenlemeleri başta olmak üzere yürürlükteki tüm mevzuata uygun hareket edeceğini, elektronik ticaret ortamında satışı yasak olan ya da şarta bağlanan ürünlere ilişkin düzenleme ve idari kararlara uygun davranacağını gayrikabili rücu kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.21.</strong>Satıcı, www.yapx.com.tr internet sitesinden satışa sunacağı ürünlerin üzerinde bulunan 6769 sayılı Sınai Mülkiyet Kanunu  anlamında sınai mülkiyet unsurlarının, kendisine ait olduğunu veya bu ürünleri Alıcıya satma konusunda yetkili olduğunu veya hak sahibi veya onun rızası ile üçüncü kişiler tarafından piyasaya sunulmuş orijinal olduğunu; veya yürürlükteki mevzuat uyarınca usulüne uygun şekilde paralel ithalat yolu ile piyasaya sunulmuş olduğunu ve Sınai Mülkiyet Kanununun 152. maddesi ve sair maddeleri uyarınca üzerlerindeki marka/tasarım hakkı tükenmiş ürünler olduğunu, ürünlerin ayrıca 5846 sayılı Fikir ve Sanat Eserleri Kanunu uyarınca eser niteliğini haiz olması halinde eser sahibinin bizzat kendisi olduğunu ve/veya ürünleri eser sahibinin rızası ile www.yapx.com.tr internet sitesinde satışa sunduğunu, üçüncü kişilerin eserden doğan haklarına tecavüz etmediğini, YAPX’in ürünler üzerinde herhangi bir inceleme yükümlülüğünün bulunmadığını, YAPX’e ürünlerle ilgili herhangi bir 3. Kişi talebinin gelmesi halinde derhal bu durumu ortaya koyan tüm belgeleri ve fatura silsilesini eksiksiz derhal YAPX’e temin edeceğini aksi halde YAPX’in Satıcının www.yapx.com.tr internet sitesindeki tüm satışlarını durdurma hakkının olduğunu kabul, beyan ve taahhüt eder. Satıcı; satılan ürünlere ilişkin üçüncü kişi taleplerine istinaden Satıcının ilgili bilgi ve belge ile fatura silsilesini YAPX’e temin edememesi halinde, YAPX’in satılan ürünlere ilişkin tespit edilen son ihlalinden, son üçüncü kişi talebinden ve/veya tüketici şikayetinden itibaren makul süre boyunca işbu Sözleşme kapsamında Satıcının ödemelerini askıya alma hakkına sahip olduğunu kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.22.</strong>YAPX tarafından Satıcının www.yapx.com.tr internet sitesinde orijinal olmayan ürünleri satışa sunduğunun tespit edilmesi halinde  Satıcı, YAPX’nin bu kapsamda uğrayacağı tüm zararları tazmin etmekle yükümlü olup, YAPX’in işbu Sözleşmeyi tek taraflı olarak derhal feshetme hakkı saklıdır. 

                    </p>
                    <p>
                        <strong>3.23.</strong>Satıcının www.yapx.com.tr internet sitesinde satışa sunduğu ve/veya sahibi ve/veya hak sahibi olduğu tüm markaların Sözleşme kapsamında her türlü pazarlama ve satış faaliyetinde herhangi bir mecra, baskı ve/veya kopya sayısı ve süre sınırlaması olmaksızın, işbu sözleşmeye ek herhangi bir ek bedel olmaksızın YAPX tarafından kullanılmasına muvafakat ettiğini, YAPX’in işbu markaları kullanımının marka sahibinin başta 6769 sayılı Sınai Mülkiyet Kanunu olmak üzere anılan markalar ve bunların kullanımı üzerindeki haklarını ihlal etmediğini kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.24.</strong>www.yapx.com.tr internet sitesinden satışa sunulan ürünler Satıcının garantisi kapsamındadır. Satıcı, Alıcı’nın ayıplı ürün ile ilgili ürünün ayıpsız misli ile değiştirilmesi talebi de dâhil olmak üzere her türlü Alıcı taleplerini, 6502 Sayılı Tüketicinin Korunması Hakkında Kanun ve ilgili yasal mevzuata uygun olarak süresinde karşılamayı kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.25.</strong>Satıcı, mevzuattaki aksine hükümler saklı kalmak kaydıyla, Alıcının satın aldığı ürünleri 15 (on beş) gün içerisinde herhangi bir sebep öne sürmeksizin cayma hakkını kullanarak iade edebileceğini, böyle bir durumda Alıcı’nın 7 (yedi) güne kadar ürünü kargoya verme hakkının olduğunu, cayma hakkı nedeniyle kendisine gönderilen ürünleri iade almayı kabul, beyan ve taahhüt eder. 

                    </p>
                    <p>
                        <strong>3.26.</strong>Satıcının işbu Sözleşme ve/veya eklerindeki herhangi bir yükümlülüğünü tam ve/veya hiç yerine getirememesi halinde YAPX uğradığı her türlü zararın tazminini talep etme hakkına sahiptir. YAPX bu bedelleri Satıcının herhangi bir alacağından mahsup edebilecektir. 

                    </p>
                </p>
                <h2>4. Sözleşmenin Feshi</h2>
                <p>YAPX, işbu Sözleşmedeki herhangi bir maddeyi www.yapx.com.tr internet sitesinden ilan ederek değiştirebilir. İşbu Sözleşme’nin değişen hükümleri, ilan edildikleri tarihte geçerlilik kazanacak, geri kalan hükümler aynen yürürlükte kalarak hüküm ve sonuçlarını doğurmaya devam edecektir. Şu kadar ki bu değişiklikleri kabul etmemesi halinde Satıcı 15 (on beş) gün önceden yazılı bildirimde bulunmak kaydıyla işbu Sözleşmeyi herhangi bir tazminat ödemeksizin feshetme hakkına sahiptir. </p>
                <h2>5. Gizlilik</h2>
                <p>
                    <strong>5.1.</strong> Taraflar’a ait her türlü mali tablo, rapor, finansal ve hukuksal bilgiler, marka, üyelik bilgileri, ticari sır ya da diğer yasal korumaya konu olan ya da olmayan her türlü bilgi, söz konusu ticari ilişki esnasında tarafların ve çalışanlarının öğrenecekleri yazılı ve/veya sözlü tüm ticari, mali, teknik bilgiler, alıcı ve piyasa bilgileri ve diğer bilgi ve veriler “Gizli Bilgi” olarak kabul edilir. İşbu Sözleşme ihlal edilmeksizin hukuki ve meşru yollarla genel kamunun bilgisi dâhilinde olan ve tarafların gizli olmadığını açıkça ve yazılı olarak belirttiği bilgiler Gizli Bilgi kapsamında değerlendirilmeyecektir. Taraflar yürürlükte olan bir kanun veya diğer düzenleme ya da verilmiş olan bir mahkeme kararı veya idari emir gereğince bu bilgileri açıklayabilir. Bu durumda Satıcı, YAPX’e bu hususta derhal ve her halde 2 (iki) iş günü içerisinde bilgi verecektir. Taraflar bu madde kapsamında değerlendirilebilecek her türlü bilgi ve veriyi korumayı, her ne suretle olursa olsun üçüncü kişilerle doğrudan/dolaylı olarak paylaşmamayı ve ticari ilişkinin amaçları dışında kullanmamayı taahhüt ederler.  

                </p>
                <p>
                    <strong>5.2.</strong>Taraflar, zorunlu hallerde ve işin doğası gereği çalışanlarına ve danışmanlarına bu bilgileri vermeleri halinde bilginin gizliliği hususunda da çalışanlarını ve danışmanlarını da uyarmak yükümlülüğündedir. Aksi takdirde Taraflar, çalışanlarının ve danışmanlarının işbu Sözleşme yükümlülüklerine aykırı davranmaları halinde doğrudan sorumlu olacaklarını gayrikabili rücu peşinen kabul ve taahhüt ederler. İşbu madde, Sözleşme süresi sona erdiğinde dahi Taraflar arasında geçerli olmaya devam edecektir. 

                </p>
                <h2>6. Kişisel Verilerin Korunması </h2>
                <p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”) uyarınca, kimliği belirli ya da belirlenebilir gerçek kişiye ilişkin her türlü veri “Kişisel Veri” olarak tanımlanmıştır. Taraflar, kişisel verilerin işlenmesi süreci kapsamındaki yükümlülüklerini yerine getirirken, KVKK ile birlikte yürürlükte bulunan kişisel verilerin korunmasına ilişkin uygulanabilir uluslararası sözleşmeler, ilgili kanun ve düzenlemeler, Kişisel Verileri Koruma Kurulu kararları, Kişisel Verileri Koruma Kurumu rehberleri, sair düzenleyici ve denetleyici otorite, mahkeme ve diğer resmi makam kararları/talimatları ile ileride yürürlüğe girebilecek olan kişisel verilerin korunması alanındaki tüm düzenlemelere uymakla yükümlüdür. Satıcı, sözleşmenin ifasıyla ilgili olarak YAPX’den gelen soruları mümkün olan en kısa sürede usulüne uygun olarak cevaplandıracağını, YAPX’e gerekli tüm bilgi, belge ve desteği ek bir bedel talep etmeksizin sağlayacağını; etkin şekilde iş birliğinde bulunacağını kabul, beyan ve taahhüt eder.  </p>
                <h2>7. Sözleşmenin Süresi Ve Sona Erme </h2>
                <p>Taraflar, her zaman 1 (bir) ay önceden yazılı fesih ihbarında bulunmak kaydıyla işbu Sözleşmeyi gerekçesiz ve tazminatsız feshetme hakkına sahiptir. Sözleşme’nin feshi durumunda, işbu Sözleşmedeki gizlilik ve fikri mülkiyet hükümleri bağlayıcılığını koruyacaktır. </p>
                <h2>8. Devir Yasağı </h2>
                <p>Satıcı, işbu Sözleşmeden doğan haklarını, menfaatlerini veya yükümlülüklerini YAPX’in yazılı izni olmaksızın, hiçbir şekilde üçüncü kişilere devir veya temlik edemez. YAPX’in yazılı izni olmaksızın yapılan temlik veya devir işlemi geçersiz olacaktır.</p>
                <h2>9. Delil Sözleşmesi</h2>
                <p>Satıcı, işbu Sözleşmeden doğabilecek ihtilaflarda YAPX’in resmi defter ve ticari kayıtlarıyla, kendi veri tabanında, sunucularında tuttuğu elektronik bilgilerin ve bilgisayar kayıtlarının, bağlayıcı, kesin ve münhasır delil teşkil edeceğini ve bu maddenin Hukuk Muhakemeleri Kanunu’nun 193. maddesi anlamında delil sözleşmesi niteliğinde olduğunu kabul, beyan ve taahhüt eder. </p>
                <h2>10. Vergiler</h2>
                <p>İşbu Sözleşmeden kaynaklanan Damga Vergisi ve sair tüm vergiler ile harçlar Taraflarca yarı yarıya karşılanacaktır.</p>
                <h2>11. İhtilafların Halli</h2>
                <p>
                    İşbu sözleşmeye ilişkin ihtilaflarda Manisa Mahkemeleri ve İcra Daireleri yetkilidir.
                </p>
                <h2>12. Yürürlük</h2>
                <p>
                    İşbu 8 sayfa ve 12 maddeden oluşan sözleşme, Satıcının üyelik sözleşmesinde yer alan tüm maddeleri okuduğu ve üyelik sözleşmesinde yer alan maddeleri kabul ettiği anlamına gelir. İşbu Sözleşme Satıcının  üye olması anında akdedilmiş ve karşılıklı olarak yürürlüğe girmiştir.
                </p>
                <div style="display: flex; justify-content: space-between;">
                    <span style="text-align: left;"><strong>YAPX YAPI SANAYİ TİCARET LİMİTED ŞİRKETİ</strong></span>
                    <span style="text-align: right;"><strong>SATICI</strong></span>
                </div>
            </div>
            
        </div>
    </div>
</div>